@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>

<body class="cyan">
@Html.Hidden("UrlLogin", Url.Action("LoginProcedure", "Login"))
    <div class="row valign-wrapper">
        <div class="col s6 offset-s3 valign">
            <div id="login-page" class="container">
                <div class="col s12 z-depth-4 card-panel">
                    <div class="row">
                        <div class="input-field col s12 center">
                            <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                            <p class="center login-form-text"> Señor Pez @DateTime.Now.Year - Ztoned </p>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input id="username" type="text">
                            <label for="username" class="center-align">Username</label>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="password" type="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12  login-text">
                            <input type="checkbox" id="remember-me" />
                            <label for="remember-me">Remember me</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="LoginButton" onclick="login()" class="btn waves-effect waves-light col s12" type ="button" value="Login Papu">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 m6 l6">
                            
                        </div>
                        <div class="input-field col s6 m6 l6">
                            <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
